<div class="row navigation halftone">
<div class="col-xs-3">
	<i id="exit-btn" class="left-btn-area ion-chevron-left"></i>
</div>
<div class="col-xs-6">
	
</div>
<div class="col-xs-3">
	<i id="create-btn" class="right-btn-area"></i>
</div>
</div>

<div class="row">
	<div class="col-xs-12 logo large-logo"></div>
</div>

<form ng-submit="addItem(item)">
<div class="row create-fields">
	<div class="col-xs-10 col-md-offset-1 form-entry">
		<input type="text" ng-model="item.title" class="form-control item-title-field" placeholder="Snapwhich Item" aria-describedby="Snapwich Item">
	</div>

	<div class="col-xs-10 col-md-offset-1 form-entry">
		<input type="number" ng-model="item.points" class="form-control item-point-field" placeholder="Point Value (max 10pt)" aria-describedby="Point Value max 10 points" min="1" max="10">
	</div>
</div>

<div class="row">
	<input type="submit" value="Add Item" class="col-xs-12 bottom-button"></input>
</div>
</form>