<div class="row navigation halftone">
<div class="col-xs-3">
	<i id="exit-btn" class="left-btn-area ion-log-out" ng-click="go('/login')"></i>
</div>
<div class="col-xs-6">
	
</div>
<div class="col-xs-3">
	<a ng-href="" ng-click="checkChallenge()">
		<i id="create-btn" class="right-btn-area ion-ios-compose-outline"></i>
	</a>
</div>
</div>

<div class="row">
	<div class="col-xs-12 logo large-logo"></div>
</div>

<div class="row entry-field">
	<div class="col-xs-12 form-entry">
		<input type="text" class="form-control challenge-code" placeholder="Challenge Code" aria-describedby="Enter Your Challenge Code">
		</div>
</div>

<div class="row bottom-button">
	<div class="col-xs-12">Enter Challenge</div>
</div>


